.blue_bar {
    height:50px;
    background-color:#405d9b;
    color:#d9dfeb;
 
}
#search_box{
    width: 400px;
    height: 20px;
    border-radius: 5px;
    border: none;
    padding: 4px;
    font-size: 14px;
}
#photo {
    width: 150px;
   
    border-radius: 50%;
    border:solid 2px white;
}
.menu_buttons {
    width: 100px;
    display: inline-block;
    margin: 2px;
}
.friends_img {
    width:75px;
    margin: 8px;
    float: left;
}
.friends_bar {
    min-height:400px;
    margin-top: 20px;
    background-color:white;
    color: #aaa;
    padding: 8px;
}
.friends {
    clear: both;
    font-size: 12px;
    font-weight: bold;
    border: solid 2px white;
    color: #405d9b;
}
textarea {
    width: 100%;
    border: none;
    font-family: tahoma;
    font-size: 14px;
    height: 50px;
}
.post_button {
    float: right;
    background-color:#405d9b;
    border: none;
    color: white;
    padding: 4px;
    font-size: 14px;
    border-radius: 2px;
    width: 50px;
}
.delete_button, .like, .unlike  {
    background-color: #405d9b;
    border: none;
    color: white;
    padding: 4px;
    font-size: 14px;
    border-radius: 2px;
}
    

    
.post_bar {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
}
.post {
    padding: 4px;
    font-size: 13px;
    display: flex;
}
main {
    width:800px;
    margin:auto;
    min-height:400px;
}
.modal {
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: animate;
    animation-duration: 800ms;
}
@keyframes animate {
    from{opacity: 1;}
    from{opacity: 0;}
}
#photo img{
    margin: auto 10px;
}
.bar1 {
    height:100px;
    background-color:rgb(59,89,152);
    color:#d9dfeb;
    padding: 4px;
}
.bar2 {
    background-color:white;
    width:800px;
    height:400px;
    margin:auto;
    margin-top:50px;
    padding:10px;
    padding-top:50px;
    text-align: center;
    font-weight: bold;
}
.signup_button {
    background-color: #42b72a;
    width: 70px;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    float: right
}
#text{
    border-radius: 4px;
    width:300px;
    height:40px;
    border:solid 1px #ccc;
    padding:4px;
    font-size: 14px;
}
#button{
    border-radius: 4px;
    width:300px;
    height:40px;
    font-weight: bold;
    border: none;
    background-color:rgb(59,89,152);
    color: white;
    font-weight: bold;
}
h2{
    text-align: center;
 }

 form {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 5px 10px;
 }

 .row {
     margin: 5px 10px;
 }

 .row label {
     text-align: left;
 }

 .row input {
     width: 150px;
     margin-left: 10px;
     text-align: ri
 }